@using Microsoft.AspNetCore.Identity
@model List<ApplicationUser>

@if (Model != null)
{
    <table class="table table-hover">
        <thread>
            <tr>
                <th scope="col">Фамилия</th>
                <th scope="col">Имя</th>
                <th scope="col">Отчество</th>
                <th scope="col">Email</th>
                <th scope="col">Id</th>
                <th scope="col">Действие</th>
            </tr>
        </thread>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.MiddleName</td>
                    <td>@item.FirstName</td>
                    <td>@item.LastName</td>
                    <td>@item.UserName</td>
                    <td>@item.Id</td>
                    <td><a asp-action="GetUserInfo" asp-controller="User" asp-route-UserId="@item.Id">Информация</a></td>
                </tr>
            }
        </tbody>
    </table>

}
