@model UserInfoViewModel
@{
    ViewData["Title"] = "Ищем заказы по имени";
}
<form asp-action="GetUserOrderByName" asp-controller="User">
    <div class="container m-2">
        <div class="m2"><input asp-for="UserFullName.FirstName" type="text"> Введите имя</div>
        <div class="m2"><input asp-for="UserFullName.MiddleName" type="text"> Введите Фамилию</div>
        <div class="m2"><input asp-for="UserFullName.LastName" type="text"> Введите Отчество</div>
        <button type="submit" class="btn btn-primary">Найти</button>
    </div>
</form>
<div class="m-2">
    @if (Model is not null)
    {
        <p><strong>Имя: </strong> @Model.UserFullName.FirstName</p>
        <p><strong>Фамилия: </strong> @Model.UserFullName.MiddleName</p>
        <p><strong>Отчество: </strong> @Model.UserFullName.LastName</p>

        @foreach (var order in Model.Order)
        {
            <hr />
            <p><strong class="text-warning">Дата создания заказа : @order?.OrderDateTime</strong></p>
            <p>
                Закончен ли заказа : @{
                    var isDone = order.isDone ? "Да" : "Нет";
                } @isDone
            </p>
            <p>
                Оплачен ли заказа : @{
                    var isPayed = order.isDone ? "Да" : "Нет";
                } @isPayed
            </p>
            <p>Количество товаров : @order?.VMProducts.Count</p>
            @foreach (var product in order.VMProducts)
            {
                <hr />
                <p><strong>Имя :</strong> @product.Name</p>
                <p><strong>Цена :</strong> @product.Price</p>
                <p><strong>Штук :</strong> @product.ProductCount</p>                
            }
            <hr />
        }
    }
</div>
