@model UserInfoViewModel

@{
    TempData["Title"] = "Заказы по дате";
}
<div class="col-5 m-2">
    <form asp-action="GetUserOrdersByDate" asp-controller="User">
        <input asp-for="OrderDateTime.DateStart" type="datetime-local" />
        <input asp-for="OrderDateTime.DateEnd" type="datetime-local" />
        <button class="m-2 btn btn-primary" type="submit">Найти</button>
    </form>
    <div class="m-2">

        @if (Model is not null)
        {
            @foreach (var order in Model.Order)
            {
                <hr />
                <p><strong class="text-warning">Дата создания заказа : @order?.OrderDateTime</strong></p>
                <p><strong>Имя: </strong> @order.FirstName</p>
                <p><strong>Фамилия: </strong> @order.MiddleName</p>
                <p><strong>Отчество: </strong> @order.LastName</p>
                <p>
                    Закончен ли заказа : @{
                        var isDone = order.isDone ? "Да" : "Нет";
                    } @isDone
                </p>
                <p>
                    Оплачен ли заказа : @{
                        var isPayed = order.isDone ? "Да" : "Нет";
                    } @isPayed
                </p>
                <p>Количество товаров : @order?.VMProducts.Count</p>
                @foreach (var product in order.VMProducts)
                {
                    <hr />
                    <p><strong>Имя :</strong> @product.Name</p>
                    <p><strong>Цена :</strong> @product.Price</p>
                    <p><strong>Штук :</strong> @product.ProductCount</p>
                }
                <p><strong>Общая сумма заказа:</strong> @order.TotalSum</p>
                <hr />
            }
        }
    </div>
</div>





