@model ProductViewModel
@{
    ViewData["Title"] = "Подтверждение удаления продукта";
}

<form method="post">
    <div>
        <p>
            <strong>
                Вы точно хотите удалить продукт ?
            </strong>
        </p>
        <div class="card m-2">
            <div class="card-header text-muted">
                <small>Информация о продукте</small>
            </div>
            <div class="card-body">
                <h5 class="card-title"><strong>Продукт :</strong> @Model.Name</h5>
                <p class="card-text"><strong>Производитель :</strong> @Model.Manufacturer</p>
                <p class="card-text"><strong>Категория :</strong> @Model.Category</p>
                <p class="card-text"><strong>Описание :</strong> @Model.Description</p>
                <p class="card-text"><strong>Состав :</strong> @Model.ProductComposition</p>
                <p class="card-text"><strong>Цена :</strong> @Model.Price</p>
            </div>
            <div class="card-footer text-muted">
                Количество : @Model.Count
            </div>
        </div>
        <button type="submit" class="btn btn-success">Да</button>
        <a asp-action="Index" asp-controller="Home" class="btn btn-danger">Нет</a>
    </div>
</form>


