@using Microsoft.AspNetCore.Identity
@model List<ProductViewModel>
@{
    ViewData["Title"] = "Отображаем все продукты";
}

<div class="m-2">
    <a asp-action="GetAllProductsIsDeleted" asp-controller="Product">Отобразить все продукты, в том числе и удаленные.</a>
</div>
<div class="m-2">
    <a asp-action="SearchByName" asp-controller="Product">Поиск продукта по названию.</a>
</div>
<div class="m-2">
    <a asp-action="GetProductById" asp-controller="Product">Поиск продукта по Идентификатору.</a>
</div>
<div class="m-2">
    <a asp-action="GetProductByCategory" asp-controller="Product">Поиск продукта по Категории.</a>
</div>
<div class="m-2">
    <a asp-action="GetProductByManufacturer" asp-controller="Product">Поиск продукта по Производителю.</a>
</div>
<div class="m-2">
    <a asp-action="GetValuesInCategory" asp-controller="Product">Отобразить категории продуктов</a>
</div>

@foreach (var item in Model)
{
    <div class="card m-2">
        <div class="card-header text-muted">
            <small>Информация о продукте</small>
        </div>
        <div class="card-body">
            <h5 class="card-title"><strong>Продукт :</strong> @item.Name</h5>
            <p class="card-text"><strong>Производитель :</strong> @item.Manufacturer</p>
            <p class="card-text"><strong>Категория :</strong> @item.Category</p>
            <p class="card-text"><strong>Описание :</strong> @item.Description</p>
            <p class="card-text"><strong>Состав :</strong> @item.ProductComposition</p>
            <p class="card-text"><strong>Цена :</strong> @item.Price</p>
            <p class="card-text"><strong>Наличие скидки :</strong> @item.HaveDiscount</p>
            <p class="card-text"><strong>Размер скидки :</strong> @item.Discount</p>
             <p class="card-text"><strong>Цена(строка) :</strong> @item.stringPrice</p>
            @if (item.IsDeleted)
            {
                <p class="card-text"><strong class="text-danger">Этот продукт помечен как удаленный!</strong></p>
                <a asp-action="RestoreProduct" asp-controller="Product" asp-route-id="@item.Id" class="btn btn-success">Восстановить</a>
            }
            @if (User.HasClaim("IsAdmin", "true"))
            {
                <a asp-action="UpdateProduct" asp-controller="Product" asp-route-id="@item.Id" class="btn btn-warning">Редактировать</a>
                <a asp-action="DeleteProduct" asp-controller="Product" asp-route-id="@item.Id" class="btn btn-danger">Удалить</a>
            }
            <a asp-action="AddProductInCart" asp-controller="Shopping" asp-route-ProductId="@item.Id" class="btn btn-warning">Купить</a>

        </div>
        <div class="card-footer text-muted">
            <strong class="text-warning">Количество :</strong> @item.Count
        </div>
    </div>

}

