@model ProductViewModel
@{
    ViewData["Title"] = "Ищем продукт по Id";
}
<h5>@ViewData["Title"]</h5>

<form asp-action="GetProductById">
    <div class="m-2">
        <input asp-for="@Model.Id" type="number" />
        <button type="submit">Найти</button>
    </div>
</form>

@if (Model != null)
{
    <div class="row">
        @{var photoPath = $"/images/{Model.PhotoPath ?? "default.png"}";};
        <div class="col-12 col-sm-6 col-lg-4">
            <div class="card-deck">
                <div class="text-center">
                    <img class="card-img-top border border-dark imageThumbnail" src="@photoPath" />
                </div>
                <div class="m-3">
                    <div class="card-body">
                        <h5 class="card-title"><strong>Продукт :</strong> @Model.Name</h5>
                        <p class="card-text"><strong>Производитель :</strong> @Model.Manufacturer</p>
                        <p class="card-text"><strong>Категория :</strong> @Model.Category</p>
                        <p class="card-text"><strong>Описание :</strong> @Model.Description</p>
                        <p class="card-text"><strong>Состав :</strong> @Model.ProductComposition</p>
                        <p class="card-text"><strong>Цена :</strong> @Model.stringPrice</p>
                        <p class="card-text">
                            <strong>Наличие скидки :</strong>@{
                                var discount = Model.HaveDiscount ? "Да" : "Нет";
                            } @discount
                        </p>
                        @if (Model.HaveDiscount)
                        {
                            <p class="card-text"><strong>Размер скидки :</strong> @Model.stringDiscount %</p>
                        }
                        @if (Model.IsDeleted)
                        {
                            <p class="card-text"><strong class="text-danger">Этот продукт помечен как удаленный!</strong></p>
                            <a asp-action="RestoreProduct" asp-controller="Product" asp-route-id="@Model.Id" class="btn btn-success">Восстановить</a>
                        }
                        @if (User.HasClaim("IsAdmin", "true"))
                        {
                            <a asp-action="UpdateProduct" asp-controller="Product" asp-route-id="@Model.Id" class="btn btn-warning m-1">Редактировать</a>
                            <a asp-action="DeleteProduct" asp-controller="Product" asp-route-id="@Model.Id" class="btn btn-danger m-1">Удалить</a>
                        }
                        <a asp-action="AddProductInCart" asp-controller="Shopping" asp-route-ProductId="@Model.Id" class="btn btn-warning m-1">Купить</a>

                    </div>
                    <div class="card-footer text-muted">
                        <strong class="text-warning">Количество :</strong> @Model.Count
                    </div>
                </div>
            </div>
        </div>
    </div>
}

