@model ShopingCart

@{
    ViewData["Title"] = $"Корзина {User.Identity.Name}";
}
<h4>Корзина покупок</h4>
@if (Model != null)
{
    @foreach (var item in Model.Order.Products)
    {
        @if (item.Count == 0)
        {
            <h3>Список пуст!</h3>
        }
        else
        {
            <div class="card m-2">
                <div class="card-header text-muted">
                    <small>Информация о продукте</small>
                </div>
                <div class="card-body">
                    <h5 class="card-title"><strong>Продукт :</strong> @item.Name</h5>
                    <p class="card-text"><strong>Производитель :</strong> @item.Manufacturer</p>
                    <p class="card-text"><strong>Категория :</strong> @item.Category</p>
                    <p class="card-text"><strong>Описание :</strong> @item.Description</p>
                    <p class="card-text"><strong>Состав :</strong> @item.ProductComposition</p>
                    <p class="card-text"><strong>Цена :</strong> @item.Price</p>
                    <a asp-action="DeleteProductInCart" asp-controller="Shopping" asp-route-id="@item.Id" class="btn btn-danger">Удалить</a>
                </div>
                <div class="card-footer text-muted">
                    Количество : @item.Count
                </div>
            </div>
        }

    }
    <div class="m-2">
        <a asp-action="GetAllProducts" asp-controller="Product" class="btn btn-success">Вернуться к списку продуктов</a>
    </div>
}


