@model ShopingCart

<table class="table table-hover">
    <thread>
        <tr>
            <th csope="col">Имя продукта</th>
            <th csope="col">Количество</th>
            <th csope="col">Цена</th>
        </tr>
    </thread>
    <tbody>
        @foreach (var item in Model.Order.VMProducts)
        {
            <tr>
                <th scope="row">@item.Name</th>
                <td>@item.ProductCount</td>
                <td>@item.stringPrice</td>
            </tr>
        }
    </tbody>
</table>
<div class="m-2 align-content-center">
    <p><strong>Всего разновидностей товара :</strong> @Model.Order.VMProducts.Count</p>
    <p><strong>Ваш заказ на общую сумму :</strong> @Model.Order.TotalSumString</p>
    <div class="m-2">
        <form method="post">
            @*            <input type="number" placeholder="Введите номер карты">
                <input type="number" placeholder="Срок действия карты">
                <input type="number" placeholder="CVT">*@
            <a class="btn btn-primary" asp-action="MakePurchase" asp-controller="Shopping">Совершить покупку</a>
        </form>
    </div>
</div>
