@model ShopingCart

<div class="m-2 align-content-center">
    <ul>Ваш заказ на общую сумму : @Model.Order.TotalSumString</ul>
    <ul>Общее количество видов товара : @Model.Order.VMProducts.Count</ul>
    <ul>
        Список товаров :
        @if (Model != null)
        {
            @foreach (var item in Model.Order.VMProducts)
            {
                <li>Наименование : @item.Name</li>
                <li>Количество : @item.ProductCount</li>
                <li>Цена : @item.stringPrice</li>
                @if (item.HaveDiscount)
                {
                    <li>Цена со скидкой : @item.DiscountedPrice</li>
                }
            }
            
        }
    </ul>
    <div class="m-2">
        <form method="post">
@*            <input type="number" placeholder="Введите номер карты">
            <input type="number" placeholder="Срок действия карты">
            <input type="number" placeholder="CVT">*@
            <a class="btn btn-primary" asp-action="MakePurchase" asp-controller="Shopping">Совершить покупку</a>
        </form>
    </div>
</div>
